<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="./styles.css" rel="stylesheet">
    <title>Bible for Browser</title>
  </head>
  <body>
    <div>
      <input type="search" id="search-input" />
    </div>

    <div id="container-data">
      <h1></h1>
      <p></p>
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>

    <script>
      ipcRenderer.on('render-event', (event, arg) => {
        // Receive messages from main.js
        console.log(arg) // prints "pong"
        const container = document.getElementById('container-data');
        // const stuff = arg.map((item) => `<p>${item}<p>`)
        container.innerHTML = `<h1>${arg.name}</h1> <p>${arg.verse}</p>`;
      });
    </script>

  </body>
</html>
