<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="./styles.css" rel="stylesheet">
    <title>Bible for Browser</title>
  </head>
  <body>

    <div>
      <input type="search" />
    </div>

    <div>
      <h1>Mateus 1:4</h1>
      <p>E Arão gerou a Aminadabe; e Aminadabe gerou a Naassom; e Naassom gerou a Salmom</p>
    </div>

    <!-- You can also require other files to run in this process -->
    <!-- <script src="./renderer.js"></script> -->
  </body>
</html>
